/* Kohls */
.prod_price_amount,
.prod_price_original,
.pdpprice-row2-main-text,
.pdpprice-row1-reg-price,
.tr_phase2_order_summary_ghr h4,
.tr_phase2_order_summary_right-float,
.freeShipMessFirstV2,
.subtotal,
.front .price,
.front .secondaryPrice,
.cart-total-item-value,
.cart-block-item-value,
.your-savings,
.product-footer-block-price-list-sale-price,
.product-footer-block-price-list-strikethrough,
.bd-flat-view-product-price-main-container,
.order-summary-value,
.bd-carousel-product-regular-price,
.bd-carousel-product-sale-price {
    visibility: hidden!important;
}

.checkout-btn {
    color: #14718a!important;
    position: relative!important;
}

.checkout-btn::after {
    color: #fff!important;
    content: "Checkout"!important;
    position: absolute!important;
    z-index: 5!important;
    width: 100%!important;
    left: 0!important;
    top: 42%!important;
}
